<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control", placeholder: 'Jane' %>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control", placeholder: 'Smith' %>
  </div>
  <div class="field form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", placeholder: '504-555-1212' %>
  </div>
  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :evac_waiver %>
      <%= f.label :evac_waiver, "Evacuation Waiver signed and accepted" %><br>
    </div>
  </div>
  <%# TODO: Fix button alignment or spacing %>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
