<h1>Doggy Parents</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th class="text-center">Evacuation Waiver</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.phone.phony_formatted(format: :international, spaces: ' ') %></td>
        <td class="text-success text-center"><%= fa_icon('check', class: 'fa-2x') if owner.evac_waiver %></td>

        <td class="text-center">
          <div class="btn-group">
            <%= link_to fa_icon('eye', text: 'Show'), owner, class: 'btn btn-default btn-sm' %>
            <%= link_to fa_icon('pencil', text: 'Edit'), edit_owner_path(owner), class: 'btn btn-default btn-sm' %>
            <%= link_to fa_icon('trash', text: 'Destroy'), owner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to fa_icon('plus', text: 'Add Owner'), new_owner_path, class: "btn btn-default" %>
