<h2><%= @owner.first_name %> <%= @owner.last_name %></h2>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone.phony_formatted(format: :international, spaces: ' ') %>
</p>

<p>
  <strong>Evac waiver:</strong>
  <%= @owner.evac_waiver %>
</p>

<h3><%= @owner.first_name %>'s Furry Friends:</h3>
<ul>
  <% @owner.dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog) %></li>
  <% end %>
</ul>

<p>
  <%= link_to fa_icon('pencil', text: 'Edit'), edit_owner_path(@owner), class: 'btn btn-primary' %>
  <%= link_to fa_icon('list', text: 'All Owners'), owners_path, class: 'btn btn-default' %>
</p>