<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :breed_id %><br>
    <%= f.collection_select :breed_id, @breeds, :id, :breed_name, {prompt: "Select breed"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field form-group">
    <%= f.label :owner_id %><br>
    <%= f.collection_select :owner_id, @owners, :id, :last_name, {prompt: 'Select owner'}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :medical_conditions %><br>
    <%= f.text_field :medical_conditions, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
