<h1>Our Furry Friends</h1>

<div class="row"></div>

  <% @dogs.each do |dog| %>

    <div class="col-xs-6 col-sm-4 col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= dog.name %> <%= dog.owner.try(:last_name) %></h3>
        </div>
        <div class="panel-body">
          <%= image_tag dog.avatar.url(:medium), class: 'img-rounded img-responsive' %>
          <p>
            <%= link_to fa_icon('eye', text: 'Show'), dog, class: 'btn btn-default btn-xs' %>
            <%= link_to fa_icon('pencil', text: 'Edit'), edit_dog_path(dog), class: 'btn btn-default btn-xs' %>
          </p>
        </div>
      </div>

    </div>

  <% end %>
</div>

<br>

<%= link_to fa_icon('plus', text: 'Add Dog'), new_dog_path, class: "btn btn-default" %>
