<div class="row">
  <div class="col-sm-12">
  <h1>Our Furry Friends</h1>
    <!-- Dog search box -->
    <%= form_tag("/dogs", method: :get, role: 'search', class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag(:search, nil, placeholder: 'Fido', class: 'form-control input-sm') %>
      </div>
      <%= submit_tag('Search', class: 'btn btn-default btn-sm') %>
      <%= link_to fa_icon('plus', text: 'Add Dog'), new_dog_path, class: "btn btn-success btn-sm" %>
    <% end %>

    <br>
    <!-- Loop to generate breed filter buttons -->
    <p>
      <%= link_to "All", dogs_path, class: 'btn btn-default btn-xs' %>
      <% @breeds.each do |breed| %>
        <a href="?breed_id=<%= breed.id %>" class="btn btn-default btn-xs"><%= breed.breed_name %></a>
      <% end %>
    </p>
  </div>
</div>

<div class="row">

  <% @dogs.each do |dog| %>

    <div class="col-xs-6 col-sm-4 col-md-3">

      <div class="panel <%= dog.in_daycare ? 'panel-success' : 'panel-default'  %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= dog.name %> <%= dog.owner.try(:last_name) %></h3>
        </div>
        <div class="panel-body">
          <%= link_to dog do %>
            <%= image_tag dog.avatar.url(:medium), class: 'img-rounded img-responsive' %>
          <% end %>
          <p>
            <!-- Check in/out buttons -->
            <%= form_for(dog, url: dog_path(dog), html: {class: 'form-inline'}) do |f| %>
              <% if dog.in_daycare %>
                <%= f.hidden_field :in_daycare, value: false %>
                <%= f.submit "Check Out", class: 'btn btn-success btn-xs' %>
              <% else %>
                <%= f.hidden_field :in_daycare, value: true %>
                <%= f.submit "Check In", class: 'btn btn-default btn-xs' %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>

    </div>

  <% end %>
</div>
