<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.try(:breed_name) %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob.try(:stamp, 'Jan 1, 2015') %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.try(:last_name) %>
</p>

<p>
  <strong>Medical conditions:</strong>
  <%= @dog.medical_conditions %>
</p>

<p>
  <%= image_tag @dog.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
