<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DoggyDaycare</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Muzzle Toff', root_url, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Owners", owners_url %></li>
        <li><%= link_to "Dogs", dogs_url %></li>
        <li><%= link_to "Location", pages_location_url %></li>
      </ul>

      <!-- Dog search box -->
      <%= form_tag("/dogs", method: :get, role: 'search', class: 'navbar-form navbar-left') do %>
        <div class="form-group">
          <%= text_field_tag(:search, nil, placeholder: 'Fido', class: 'form-control input-sm') %>
        </div>
        <%= submit_tag('Search', class: 'btn btn-default btn-sm') %>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
